run = "pip install -r requirements.txt && streamlit run app.py --server.port 8501 --server.address 0.0.0.0"
entrypoint = "app.py"
language = "python3"

[env]
PYTHONPATH = "${REPL_HOME}"

[nix]
channel = "stable-22_11"
